.card_doc {
    max-width: 600px;
}

.card_content {
    min-height: 90px;
}

.search_input{
    margin-bottom: 50px;
}

.text_input{
    width: 100%;
}

.btn{
    width: 100%;
    height: 56px;
    max-width: 510px;
}

.card_footer{
    margin: 10px;
}

.dialog{
    min-width: 700px;
}